 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>论坛首页</title>
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h2>Python部落论坛</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-2">
                运维专区
                <button>提交</button>
            </div>
            <div class="col-xs-12 col-md-8">Django专区</div>
            <div class="col-xs-12 col-md-2">部落建设</div>
        </div>
    </div>
</body>
</html>